<a href="https://colab.research.google.com/github/Team-Alpha-Squad/PRISM/blob/master/test/praveen/notebook/Task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [9]:
df_cases =  pd.read_csv("https://raw.githubusercontent.com/Team-Alpha-Squad/PRISM/master/test/praveen/data/datasets_494724_1296467_time_series_covid_19_confirmed.csv")

In [21]:
df_cases

    Province/State         Country/Region        Lat  ...  6/28/20  6/29/20  6/30/20
0              NaN            Afghanistan  33.000000  ...    30967    31238    31517
1              NaN                Albania  41.153300  ...     2402     2466     2535
2              NaN                Algeria  28.033900  ...    13273    13571    13907
3              NaN                Andorra  42.506300  ...      855      855      855
4              NaN                 Angola -11.202700  ...      267      276      284
..             ...                    ...        ...  ...      ...      ...      ...
261            NaN  Sao Tome and Principe   0.186360  ...      713      713      714
262            NaN                  Yemen  15.552727  ...     1118     1128     1158
263            NaN                Comoros -11.645500  ...      272      272      303
264            NaN             Tajikistan  38.861034  ...     5849     5900     5900
265            NaN                Lesotho -29.609988  ...       27       27       27

[266 rows x 165 columns]

In [33]:
df_us = df_cases[(df_cases['Country/Region'] == "US")]

In [34]:
df_us

    Province/State Country/Region      Lat  ...  6/28/20  6/29/20  6/30/20
225            NaN             US  37.0902  ...  2548996  2590651  2635417

[1 rows x 165 columns]